@model UserAtSite
@inject IProductMethods<Product> _methods
@{
    OrderNavbarViewModel viewModel = new OrderNavbarViewModel();
    if (Model.OrderId != Guid.Empty)
    {
        OrderNavbarViewModel _viewModel = new OrderNavbarViewModel() { OrderId = Model.OrderId, Authentificated = true, Email = Model.Email };
        viewModel = _viewModel;
    }
    else
    {
        OrderNavbarViewModel _viewModel = new OrderNavbarViewModel() { Authentificated = false };
        viewModel = _viewModel;
    }
}
@{await Html.RenderPartialAsync("_Navbar", viewModel);}
@{
    foreach (Order order in Model.Orders)
    {
        <section class="container mt-4">
            @{ 
                if(order.Id == Model.OrderId)
                {
                    <h2>Новый заказ, от @order.Done</h2>
                }
                else
                {
                    <h2>Заказ от: @order.Done </h2>
                }
            }
            <div class="mt-3 container row-cols-4">
                @{
                    foreach (ProductId productid in order.ProductIds)
                    {
                        Product product = await _methods.Get(productid.IdFromProduct);
                        <div class="col-3 block-product justify-content-sm-center text-center">
                            <div class="justify-content-sm-center m-3">
                                @{
                                    if (product.Url != null)
                                    {
                                        <img src="@product.Url" class="img-fluid align-self-center anim" style="border-radius: 15px;" />
                                    }
                                    else
                                    {
                                        <img src="assets/img/logo.jpg" class="img-fluid align-self-center anim" style="border-radius: 15px;" />
                                    }
                                }
                            </div>
                            <h3 class="text-start">
                                @product.Name
                            </h3>
                            <div class="p-1">
                                <h6 class="text-start" style="color: rgb(137 143 180);">
                                    @product.Description
                                </h6>
                            </div>
                            <div class="row">
                                <h4 class="col-5 text-start p-1 m-2">
                                    @product.Price ₽
                                </h4>
                                <h4 class="col-5 text-start p-1 m-2">
                                    @productid.CurrentCount Шт
                                </h4>
                                <h4 class="col-5 text-start p-1 m-2">
                                    @{ int price = (productid.CurrentCount * product.Price); }
                                    @price ₽
                                </h4>
                            </div>
                        </div>
                    }
                }
            </div>
        </section>
        <div class="container col-2 text-end justify-content-end">
            <h3>Всего: @order.TotalPrice ₽</h3>
        </div>
    }
}