@model User
@inject IProductMethods<Product> _methods
@{ 
    OrderNavbarViewModel viewModel = new OrderNavbarViewModel() { OrderId = Model.CurrentOrderId, Authentificated = true };
}
@{await Html.RenderPartialAsync("_Navbar", viewModel);}
@{
    foreach (Order order in Model.Orders)
    {
        <section>
            <h2>
                Заказ от: @order.Done
            </h2>
            <div class="mt-3 container row-cols-4">
                @{
                    List<Product> products = new List<Product>();
                    foreach (ProductId productid in order.ProductIds)
                    {
                        Product product = await _methods.Get(productid.IdFromProduct);
                        products.Add(product);
                    }
                    foreach (Product _product in products)
                    {
                        <div class="col-3 block-product justify-content-sm-center text-center">
                            <div class="justify-content-sm-center m-3">
                                @{
                                    if (_product.Url != null)
                                    {
                                        <img src="@_product.Url" class="img-fluid align-self-center anim" style="border-radius: 15px;" />
                                    }
                                    else
                                    {
                                        <img src="assets/img/logo.jpg" class="img-fluid align-self-center anim" style="border-radius: 15px;" />
                                    }
                                }
                            </div>
                            <h3 class="text-start">
                                @_product.Name
                            </h3>
                            <div class="p-1">
                                <h6 class="text-start" style="color: rgb(137 143 180);">
                                    @_product.Description
                                </h6>
                            </div>
                            <div class="row">
                                <h4 class="col-5 text-start p-1 m-2">
                                    @_product.Price ₽
                                </h4>
                            </div>
                        </div>
                    }
                }
            </div>
        </section>
        <div class="container col-2 text-end justify-content-end">
            <h3>Всего: @order.TotalPrice</h3>
            <h3>(Учитывая кол-во продуктов)</h3>S
        </div>
    }
}
<div class="row justify-content-end" >
    <a href="@Url.Action("Logout","Account")" class="btn btn-danger"><h3>Выйти</h3></a>
</div>







